.brand-home-first {
  background: url('../../../assets/star-fill.svg'),
  radial-gradient(circle at center, rgb(31, 31, 31) 0%, rgb(22, 22, 22) 30%, rgb(13, 13, 13) 80%);
  background-repeat: space;
}

.brand-home-content {
  height: 75vh;
}

.brand-avatar {
  width: 256px;
  height: 256px;
  background-color: var(--brand-primary-color);
  border-radius: 50%;
  box-shadow: inset 0px 0px 16px 16px rgba(0, 0, 0, 0.5), 0px 0px 32px 16px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

img.brand-avatar-image {
  /* width: auto;
  height: 100%; */
  margin-top: 16px;
  object-position: center top;
  object-fit: none;
}

.brand-skill {
  padding: 32px;
  /* border: 1px solid var(--brand-primary-color); */
  box-shadow: inset 16px 16px 64px 16px rgba(0, 0, 0, 0.5),
    16px 16px 64px rgba(0, 0, 0, 0.9);
  height: 100%;
  background-color: var(--brand-background-dark);
}

.brand-skill-web {
  background: url('../../../assets/code-slash.svg');
}

.brand-skill-data {
  background: url('../../../assets/bar-chart.svg');
}

.brand-skill.brand-skill-alternate {
  background-color: var(--brand-primary-color-dark);
}

.brand-skill p {
  opacity: 0.99;
}

.brand-data-icon {
  width: 8px;
  margin: 32px 4px;
}

.brand-data-icon#icon-1 {
  height: 32px;
  background-color: var(--brand-primary-color);
}

.brand-data-icon#icon-2 {
  height: 64px;
  background-color: var(--brand-complementary-red);
}

.brand-data-icon#icon-3 {
  height: 48px;
  background-color: var(--brand-complementary-yellow);
}

.brand-design-icons {
  height: 64px;
  margin: 32px 8px;
}

.brand-web-icons {
  position: relative;
  height: 64px;
  margin: 32px 8px;
}

.brand-web-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  top: 0; bottom: 0;
}

.brand-web-icon#icon-1 {
  background-color: var(--brand-primary-color);
  left: 0; right: 16px;
  margin: auto;
}

.brand-web-icon#icon-2 {
  background-color: var(--brand-complementary-red);
  left: 16px; right: 0;
  margin: auto;
}

.brand-web-icon#icon-3 {
  background-color: var(--brand-background-dark);
  left: 0; right: 0;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .brand-home-content {
    height: 80vh
  }
}

@media only screen and (min-width: 992px) {
  .brand-home-content {
    height: 85vh
  }
}

@media only screen and (min-width: 992px) {
  .brand-home-content {
    height: 90vh
  }
}
