<div class="brand-home-first">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <div class="brand-home-content w-100 d-flex flex-column justify-content-center align-items-center">
          <div class="brand-avatar">
            <img src="../../../assets/avatar_image.png" alt="Adeyosola Mustapha: Full Stack JavaScript Developer" class="brand-avatar-image img-fluid">
          </div>
          <br>
          <div class="brand-summary">
            <p class="brand-summary-name brand-subtitle text-center">Hello! I am</p>
            <h1 class="brand-summary-name brand-title text-center">Adeyosola Mustapha</h1>
            <p class="brand-small-text text-center">I solve problems in healthcare with technology.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0 p-4">
      <div class="col-md-6 col-lg-3 brand-container brand-skill-container p-4">
        <div class="brand-skill brand-skill-web w-100 d-flex flex-column align-items-center">
          <div class="brand-skill-icons brand-web-icons w-100">
            <div class="brand-web-icon" id="icon-1"></div>
            <div class="brand-web-icon" id="icon-2"></div>
            <div class="brand-web-icon" id="icon-3"></div>
          </div>
          <p class="brand-small-text text-center">Full Stack Web Developer</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 brand-container brand-skill-container p-4">
        <div class="brand-skill brand-skill-alternate brand-skill-data w-100 d-flex flex-column align-items-center">
          <div class="brand-skill-icons d-flex align-items-end">
            <div class="brand-data-icon" id="icon-1"></div>
            <div class="brand-data-icon" id="icon-2"></div>
            <div class="brand-data-icon" id="icon-3"></div>
          </div>
          <p class="brand-small-text text-center">Data Analyst</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 brand-container brand-skill-container p-4">
        <div class="brand-skill brand-skill-design w-100 d-flex flex-column align-items-center">
          <div class="brand-skill-icons brand-design-icons d-flex align-items-end">
            <h1 class="brand-title brand-primary-color" id="icon-1">Ai</h1>
            <h1 class="brand-title text-dark" id="icon-2">|</h1>
            <h1 class="brand-title brand-complementary-red" id="icon-3">Ps</h1>
          </div>
          <p class="brand-small-text text-center">Designer</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 brand-container brand-skill-container p-4">
        <div class="brand-skill brand-skill-alternate brand-skill-design w-100 d-flex flex-column align-items-center">
          <div class="brand-skill-icons brand-design-icons d-flex align-items-end">
            <h1 class="brand-subtitle brand-primary-color" id="icon-1">MB</h1>
            <!-- <h1 class="brand-subtitle text-black" id="icon-2">;</h1> -->
            <h1 class="brand-subtitle brand-complementary-red" id="icon-3">BS</h1>
          </div>
          <p class="brand-small-text text-center">Medical Doctor</p>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="row g-0 py-5 px-2">
      <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-2 brand-background-translucent">
        <div class="brand-pitch p-5">
          <p class="brand-small-text brand-subtitle">
            I am a Medical doctor turned Full Stack Web Developer
            with added proficiency in data analytics. I leverage my skills to help healthcare professionals do 
            their clinical work by removing bottlenecks they face while seeing their patients. I am a problem solver passionate about improving the quality of healthcare and its delivery in Nigeria and other
            low and middle income countries.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>