<div class="brand-home-first">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <div class="brand-home-content w-100 d-flex justify-content-center align-items-center">
          <div class="brand-avatar">
            <img src="../../../assets/avatar_image_2.png" alt="Adeyosola Mustapha: Full Stack JavaScript Developer" class="brand-avatar-image img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>