/* You can add global styles to this file, and also import other style files */
:root {
  --brand-primary-color: #fa9302;
  --brand-primary-color-dark: rgb(76, 39, 2);
  --brand-text-color: white;
  --brand-complementary-red: #f91c06;
  --brand-complementary-yellow: #f2f20c;
  --brand-background-light: rgb(31, 31, 31);
  --brand-background-midtone: rgb(22, 22, 22);
  --brand-background-dark: rgb(13, 13, 13);
}

body {
  color: var(--brand-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ITC Avant Garde Pro Md', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.brand-title {
  font-size: 36px;
}

.brand-subtitle {
  font-size: 18px;
}

.brand-small-text {
  font-size: 14px;
}
